* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

body {
  background-color: darkslategray;
}

header {
  color: lightsalmon;
}

body,
button {
  font-family: monospace;
}

label {
  font-weight: bold;
}

section {
  background-color: ivory;
  border-radius: 10px;
  box-shadow: lightsalmon 0 3px;
  padding: 1rem;
  margin: 1rem;
}

ul {
  list-style: none;
}

.flex-center-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-wide {
  display: flex;
  justify-content: space-between;
}
